<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.hello" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>L'Odyssée solo rouge de la Cavaliere Arc-en-Ciel</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    
    <platform name="android">
        <icon src="res/android/mipmap-hdpi/ic_launcher.png" density="hdpi"/>
        <icon src="res/android/mipmap-mdpi/ic_launcher.png" density="mdpi"/>
        <icon src="res/android/mipmap-xhdpi/ic_launcher.png" density="xhdpi"/>
        <icon src="res/android/mipmap-xxhdpi/ic_launcher.png" density="xxhdpi"/>
        <icon src="res/android/mipmap-xxxhdpi/ic_launcher.png" density="xxxhdpi"/>
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="res/android/drawable-port-hdpi/splash.png" />
        <preference name="AndroidWindowSplashScreenDuration" value="3000" />
    </platform>
</widget>
